@import '~@angular/cdk/a11y/a11y';

$gyp-form-field-default-infix-width: 100px !default;

.gyp-form-field-wrapper {
    position: relative;
}

.gyp-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
}

.gyp-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: $gyp-form-field-default-infix-width;

    // In high contrast mode IE/Edge will render all of the borders, even if they're transparent.
    // Since we can't remove the border altogether or replace it with a margin, because it'll throw
    // off the baseline, and we can't use a base64-encoded 1x1 transparent image because of CSP,
    // we work around it by setting a linear gradient that goes from `transparent` to `transparent`.
    @include cdk-high-contrast(active, off) {
        border-image: linear-gradient(transparent, transparent);
    }
}
