@import '../core/theming/check-duplicate-styles';


@mixin gyp-button-color($color) {
    $primary: map-get($color, primay);
    $accent: map-get($color, accent);
    $warn: map-get($color, warn);
    $background: map-get($color, background);
    $border: map-get($color, border);

    .gyp-button {
        background: map-get($background, background);
        border-color: map-get($border, base);
    }
}

@mixin gyp-button-theme($theme) {
    @include _gyp-check-duplicate-theme-styles($theme, 'gyp-button') {
        $color: gyp-get-color-config($theme);
        $density: gyp-get-density-config($theme);
        $typography: gyp-get-typography-config($theme);

        @if $color != null {
            @include gyp-button-color($color);
        }
    }
}
