<div class="login-box" [formGroup]="loginGroup">
    <p>
        <gyp-form-field>
            <gyp-label>Username</gyp-label>
            <input gyp-input formControlName="username" [minlength]="6">
        </gyp-form-field>
    </p>
    <p>
        <gyp-form-field>
            <gyp-label>Password</gyp-label>
            <input gyp-input formControlName="password">
        </gyp-form-field>
    </p>
    <button gyp-button (click)="login()">Login</button>
</div>
<button gyp-button class="exit-button" (click)="exit()">Exit</button>
